@using Microsoft.FluentUI.AspNetCore.Components
@namespace BlazorServer.Components

<div style="display: flex; 
            flex-direction: row; 
            justify-content: center; 
            align-items: center; gap: 4px; 
            margin-bottom: 4px;
            margin-top: 4px;">
        <FluentAnchor Href="demo/todos">Todos</FluentAnchor>
        <FluentAnchor Href="demo/counter">Counter</FluentAnchor>
        <FluentAnchor Href="demo/colors">Colors</FluentAnchor>
        <FluentAnchor Href="demo/splitters">Splitters</FluentAnchor>
</div>